<!-- This launch file starts all the correct ros nodes for the mecademic IK demo -->

<launch>

	<!-- Parse Arguments -->
	<arg name="rviz" default="true" doc="Viualize the robot in RVIZ? Defaults to true."/>

	<!-- Start nodes -->
  	<node name="mecademic_robot_driver" pkg="mecademic_robot_node" type="mecademic_robot_driver.py" output="screen" />

  	<group unless="$(eval rviz == 'true')">
  		<include file="$(find mecademic_viz)/launch/mecademic_viz.launch" />
	</group>


</launch>